.card {
    border: 1px solid var(--border-color);
    text-align: center;
    padding: 20px;
    opacity: 1;
    transition: opacity 0.2s ease-in-out;
    position: relative;
    margin-bottom: 10px;
    cursor: pointer;
}

.card:hover {
    border-color: var(--accent-color);
}

.card__form {
    display: flex;
    align-items: center;
}

.card__form__image {
    width: 100px;
    margin-right: 20px;
    background-size: contain;
    background-position: center center;
    border-radius: 1px solid var(--border-color);
    padding: 2px;
}

.card__form__image:before {
    content: '';
    display: block;
    padding-top: 100%;
}

.card__form__info {
    flex: 1;
    text-align: left;
}

.card__form__title {
    font-size: 18px;
    font-weight: bold;
    margin-bottom: 3px;
}

.card__form__title a {
    font-size: 17px;
    text-decoration: none;
}

.card__form__title a:hover {
    text-decoration: underline;
}

.card__form__title a:after {
    content: '';
    width: 14px;
    height: 14px;
    display: inline-block;
    background: url('../selected-values/external-link.svg') center center;
    background-size: contain;
    margin-left: 8px;
    vertical-align: middle;
}

.card__form__description {
    font-size: 0.9em;
    overflow: hidden;
    display: -webkit-box;
    margin-bottom: 10px;
    -webkit-line-clamp: 3;
    -webkit-box-orient: vertical;
}